<table id="tabCourses" name="tabCourses" style="width:75%; border: 1.5px solid black;">
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;">Id</td>
        <td style="border: 1px solid black;">Name</td>
        <td style="border: 1px solid black;">Description</td>
        <td style="border: 1px solid black;">Price</td>
        <td style="border: 1px solid black;">Start Date</td>
        <td style="border: 1px solid black;">End Date</td>
    </tr>
{% for course in courses %}
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;">{{ course.getId }} </td>
        <td style="border: 1px solid black;">{{ course.getName }} </td>
        <td style="border: 1px solid black;">{{ course.getDescription }} </td>
        <td style="border: 1px solid black;">{{ course.getPrice }} </td>
        <td style="border: 1px solid black;">{{ course.getStarDate|date('Y-m-d') }} </td>
        <td style="border: 1px solid black;">{{ course.getEndDate|date('Y-m-d') }} </td>
    </tr>
{% endfor %}
</table>